body {
  margin: 0;
  font-family: 'B_Pro', 'B_11yrs', 'B_Air', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

@font-face {
  font-family: 'B_Pro';
  src: url('app/assets/fonts/BMHANNAPro.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'B_11yrs';
  src: url('app/assets/fonts/BMHANNA_11yrs_ttf.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'B_Air';
  src: url('app/assets/fonts/BMHANNAAir_ttf.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}